[submodule "com.github.gebv.my-stream-deck-plugins.sdPlugin/sd-sdk-js"]
	path = com.github.gebv.my-stream-deck-plugins.sdPlugin/sd-sdk-js
	url = https://github.com/elgatosf/streamdeck-javascript-sdk.git
